<h1 class="m-3">Posts</h1>
  {{#unless posts}}
    <h3>Looks like there are no posts yet. Be the first to write a blogpost about tech!</h3>
  {{/unless}}
  {{#each posts as |post| }}
    <div class="card mb-2">
      <div class="card-header">
        <h2>{{post.title}}</h2>
      </div>
      <div class="card-body">
        <p class="card-text">{{post_preview post.postBody}}</p>
        <a href="/posts/{{post.id}}" class="btn btn-primary">Read More</a>
      </div>
      <div class="card-footer text-body-secondary">
        By: {{post.user.name}}
        <span class="d-block">Date: {{format_date post.dateCreated}}</span>
      </div>
    </div>
  {{/each}}
